# DatMod Changelog
Below is a list of changes for each released version of **DatMod**

{{#tags}}
 {{#issues}}
  {{#commits}}
####[{{messageTitle}}](https://github.com/xlxacidxlx/DatMod/commit/{{hash}})
{{#messageBodyItems}}
  {{.}}
{{/messageBodyItems}}
&mdash; by {{authorName}} @ *{{commitTime}}*
  {{/commits}}
 {{/issues}}

{{/tags}}